
header
    background: #793F5C

.component-top 
    background: #F2F2E6

.sub-component-card
    background: #FFFFFF

.component-middle
    background: #F2F2E6

.sub-component-box
    background: #353E4A
